/* /* body{
    background-color: rgb(169, 168, 168);
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.container h1{
    color: black;
    text-align: center;
    padding-top: 2%;
}
.main{
    animation: slide-in 0.5s ease-in;
}

.main{
    animation: slide-in 0.5s ease-in;
}
#eyeicon{
    float: right;
    margin-right: 26%;
}
.margin{
    margin-right: 2%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 80vh;
    width: 40%;
    padding-top: 2%;
    background-color: white;
    border-radius: 15px;
}
.container p{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 22px;
}
input{
   width: 70%;
   margin-left: 5%;
   height: 4vh;
}
button{
    height: 7vh;
    width: 70%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: #007bbf;
    border-color: #007bbf;
    border-radius: 10px;
    margin-left: 13%;
    margin-top: 6%;
}
button:hover{
    background-color: #61bced;
}
.special{
    font-size: 18px;
    padding-left: 7%;
    text-align: center;
}
.main-two{
    height: 55vh;
    width: 40%;
    background-color: white;
    border-radius: 15px;
}
@keyframes slide-in {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
75%{
    transform: translateY(-20%);
}
100%{
    transform: translateY(0);
    opacity: 1;
}
}

.dash h1{
    color: black;
    text-align: center;
}
.dash button{
    color: white;
    background-color: #007bbf;
    height: 7vh;
    width: 30%;
    font-size: 20px;
    margin-left: 35%;
}  */
/* body{
    /* background-color: #3b6172; */
    /* background-color: #164451;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
} */
/* form input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: black;
    width: 80%;
    font-size: 18px;
}
.container{
    background-color: white;
    width: 25%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-radius: 10px;
    margin-top: 13%;
}
form p{
    font-size: 20px;
    color: black;
    font-weight: bold;
    
}
form button{
   height: 6vh;
   width: 55%;
   background-color: #164451;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border-radius: 20px;
   margin-top: 8%;
   margin-left: 18%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .arm-l{
    position: absolute;
    background-color: rgb(85, 84, 84);
    height: 6vh;
    border: 2px solid black;
    width: 2%;
    top: 8.4em;
} */
/* .hand-r,.hand-l{
    position: absolute;
    background-color: rgb(85, 84, 84);
    height: 6vh;
    border: 2px solid black;
    width: 2%;
    top: 8.4em;
    
}
.pandaface{
    background-color: black;
    height: 14vh;
    width: 8.75%;
    background-color: #ffffff;
    left: 45%;
    top: 16%;
    position: absolute;
    border: 3px solid black;
    border-radius: 7.5em 7.5em 5.62em 5.62em;
}
.hand-l,
.hand-r {
  background-color: rgb(85, 84, 84);
  height: 2.89em;
  width: 2.5em;
  border: 2px solid black;
  border-radius: 0.6em 0.6em 2.18em 2.18em;
  transition: 1s all;
  position: absolute;
  top: 21%;
}
.hand-l {
  left: 40%;
}
.hand-r {
  right: 41%;
}
.ear-l,
.ear-r {
  background-color: rgb(85, 84, 84);
  height: 2.5em;
  width: 2.81em;
  border: 2px solid black;
  border-radius: 2.5em 2.5em 0 0;
  top: 16%;
  position: absolute;
}
.ear-l {
  transform: rotate(-38deg);
  left: 44%;
}
.ear-r {
  transform: rotate(38deg);
  right: 45%;
}
.eye-l,
.eye-r {
  background-color: black;
  height: 2.18em;
  width: 2em;
  border-radius: 2em;
  position: absolute;
  top: 2.18em;
}
.eye-l {
  left: 1.37em;
  transform: rotate(-20deg);
}
.eye-r {
  right: 1.37em;
  transform: rotate(20deg);
}
.eyeball-l,
.eyeball-r{
  background-color: white;
  height: 1vh;
  width: 25%;
  border-radius: 50px;
  position: absolute;
  left: 40%;
  top: 40%;
}
.nose{
  height: 2vh;
  width: 10%;
  background-color: rgb(85, 84, 84);
  top: 54%;
  left: 45%;
  position: absolute;
 border-radius: 1.1em 0 0 0.15em;
   transform: rotate(45deg);
}
.nose::before{
  content: "";
  position: absolute;
  background-color: rgb(85, 84, 84);
  height: 1.5vh;
  width: 20%;
  transform: rotate(-45deg);
  top: 0.7em;
  left: 0.9em;
 
}
.mouth,
.mouth:before {
  height: 0.75em;
  width: 0.93em;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0.18em #3f3554;
}
.mouth {
  top: 5.1em;
  left: 3.3em;
}
.mouth:before {
  content: "";
  position: absolute;
  left: 0.87em;
}   */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #164451;
}
.container {
  height: 70vh;
  width: 31.25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
form {
  width: 25em;
  height: 50vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 3.1em);
  left: 50%;
  padding: 0 3.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}
form label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 600;
  color: black;
}
form input {
  font-size: 0.95em;
  font-weight: 400;
  color: #3f3554;
  padding: 0.3em;
  border: none;
  border-bottom: 0.12em solid black;
  outline: none;
}
form input:focus {
  border-color: #164451;
}
form input:not(:last-child) {
  margin-bottom: 0.9em;
}
form button {
  font-size: 0.95em;
  padding: 0.8em 0;
  border-radius: 2em;
  border: none;
  outline: none;
  background-color: #164451;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.15em;
  margin-top: 0.8em;
}
.panda-face {
  height: 7.5em;
  width: 8.4em;
  background-color: #ffffff;
  border: 0.18em solid black;
  border-radius: 7.5em 7.5em 5.62em 5.62em;
  position: absolute;
  top: 2em;
  margin: auto;
  left: 0;
  right: 0;
}
.ear-l,
.ear-r {
  background-color: rgb(85,84,84);
  height: 2.5em;
  width: 2.81em;
  border: 0.18em solid black;
  border-radius: 2.5em 2.5em 0 0;
  top: 1.75em;
  position: absolute;
}
.ear-l {
  transform: rotate(-38deg);
  left: 10.75em;
}
.ear-r {
  transform: rotate(38deg);
  right: 10.75em;
}
.blush-l,
.blush-r {
  background-color: #ff8bb1;
  height: 1em;
  width: 1.37em;
  border-radius: 50%;
  position: absolute;
  top: 4em;
}
.blush-l {
  transform: rotate(25deg);
  left: 1em;
}
.blush-r {
  transform: rotate(-25deg);
  right: 1em;
}
.eye-l,
.eye-r {
  background-color: black;
  height: 2.18em;
  width: 2em;
  border-radius: 2em;
  position: absolute;
  top: 2.18em;
}
.eye-l {
  left: 1.37em;
  transform: rotate(-20deg);
}
.eye-r {
  right: 1.37em;
  transform: rotate(20deg);
}
.eyeball-l,
.eyeball-r {
  height: 0.6em;
  width: 0.6em;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0.6em;
  top: 0.6em;
  transition: 1s all;
}
.eyeball-l {
  transform: rotate(20deg);
}
.eyeball-r {
  transform: rotate(-20deg);
}
.nose {
  height: 1em;
  width: 1em;
  background-color: rgb(85,84,84);
  position: absolute;
  top: 4.37em;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 1.2em 0 0 0.25em;
  transform: rotate(45deg);
}
.nose:before {
  content: "";
  position: absolute;
  background-color: rgb(85,84,84);
  height: 0.6em;
  width: 0.1em;
  transform: rotate(-45deg);
  top: 0.75em;
  left: 1em;
}
.mouth,
.mouth:before {
  height: 0.75em;
  width: 0.93em;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0.18em rgb(85,84,84);
}
.mouth {
  top: 5.31em;
  left: 3.12em;
}
.mouth:before {
  content: "";
  position: absolute;
  left: 0.87em;
}
.hand-l,
.hand-r {
  background-color: rgb(85,84,84);
  height: 2.81em;
  width: 2.5em;
  border: 0.18em solid black;
  border-radius: 0.6em 0.6em 2.18em 2.18em;
  transition: 1s all;
  position: absolute;
  top: 7.3em;
}
.hand-l {
  left: 7.5em;
}
.hand-r {
  right: 7.5em;
}
.paw-l,
.paw-r {
  background-color: rgb(85,84,84);
  height: 3.12em;
  width: 3.12em;
  border: 0.18em solid black;
  border-radius: 2.5em 2.5em 1.2em 1.2em;
  position: absolute;
  top: 90%;
}
.paw-l {
  left: 10em;
}
.paw-r {
  right: 10em;
}
.paw-l:before,
.paw-r:before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 1.37em;
  width: 1.75em;
  top: 1.12em;
  left: 0.55em;
  border-radius: 1.56em 1.56em 0.6em 0.6em;
}
.paw-l:after,
.paw-r:after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  top: 0.31em;
  left: 1.12em;
  box-shadow: 0.87em 0.37em #ffffff, -0.87em 0.37em #ffffff;
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 14px;
  }
}